<div class="col-3 ">
    <nav class="nav nav-pills flex-column bg-light border ">
        <a class="nav-link text-dark {% if '/dashboard/' == request.path %} bg-warning {% endif %}"
            href="{% url 'dashboard' %}">Dashboard</a>
        {% if perms.auth.view_user %}
        <a class="nav-link text-dark {% if '/users/' in request.path %} bg-warning {% endif %}"
            href="{% url 'users' %}">Users</a>
        {% endif %}
        <a class="nav-link text-dark {% if '/categories/' in request.path %} bg-warning {% endif %}"
            href="{% url 'categories' %}">Category</a>
        <a class="nav-link text-dark {% if '/blogs/' in request.path %} bg-warning {% endif %}"
            href="{% url 'blogs' %}">Blogs</a>

    </nav>

</div>